---
import BaseLayout from '../layouts/BaseLayout.astro'
import Article from '../components/Article.astro'
import Tags from '../components/Tags.astro'
import Tweets  from '../components/Tweets.astro'

const response = await fetch(`${import.meta.env.PUBLIC_SENDY_ENDPOINT}api/subscribers/active-subscriber-count.php`, {
  method: "POST",
  body: new URLSearchParams(`api_key=${import.meta.env.PUBLIC_SENDY_API_KEY}&list_id=${import.meta.env.PUBLIC_SENDY_LIST_ID}`)
});
const allSubscribers = await response.text();
const allPosts = Astro.fetchContent('../pages/posts/*.md');
const allTags = [...new Set(allPosts.reduce((prev, post) => {
  prev = prev.concat(post.tags);
  return prev;
}, []))];
---
<BaseLayout title="Homepage">
  <header class="container my-6 mx-auto">
       <h1 class="text-gray-900 dark:text-white font-extrabold	text-4xl	mb-8">Hello world I'm Chris </h1>
  </header>
  
    <section class="border-b bg-white dark:bg-dark -mx-4 border-t border-gray-200 dark:border-slate-700 mb-10 py-8">
      <div class="container  md:mx-auto">
      <article class="prose prose-xl dark:prose-invert mx-auto">
        <p>I'm Chris, a web developer, blogger and lover of a beatiful wife and dog.</p>
        <p>As a day job I work over at <a href="https://daily.dev/" target="_blank" rel='noopener noreferrer'>daily.dev</a> as the Web Team Lead.</p>
        <p>But before even starting my working day, I dedicate an hour of every single day to write these bite sized tips to help <i>you</i> become a web developer.</p>

        <div class='grid grid-cols-1 md:grid-cols-4 gap-0 md:gap-6'>
      <div class="col-span-1">
        <img src="/assets/about.jpg" class="rounded-xl shadow-lg" alt="About Chris Bongers | Daily Dev Tips" />
      </div>
      <div class="col-span-3">
  <p>I love to connect with people, so feel free to hit me up on <a href="https://daily.dev/" target="_blank" rel='noopener noreferrer'>Twitter</a>, <a href="https://daily.dev/" target="_blank" rel='noopener noreferrer'>LinkedIn</a>, or <a href="https://daily.dev/" target="_blank" rel='noopener noreferrer'>GitHub</a>.</p>
  <p>And don't forget to subscribe to my <a href="/subscribe">newsletter</a>.</p>
      </div>
        </div>
      </article>
      </div>
  </section>

  <Tweets />
  
</BaseLayout>