---
import BaseLayout from '../layouts/BaseLayout.astro';
import Article from '../components/Article.astro';
import Tags from '../components/Tags.astro';
import Tweets from '../components/Tweets.astro';
import { getAllPosts } from '../lib/posts.js';

const allPosts = (await getAllPosts()).filter(
  (a) => new Date(a.date) <= new Date()
);
const allTags = [
  ...new Set(
    allPosts.reduce((prev, post) => {
      prev = prev.concat(post.tags);
      return prev;
    }, [])
  ),
];
---

<BaseLayout
  title="Who is Chris and what is Daily Dev Tips"
  description="I'm Chris Bongers a web developer, solution architect, blogger, and lover of a beautiful wife and dog."
>
  <header class="container mx-auto my-6">
    <h1 class="mb-8 text-4xl font-extrabold text-gray-900 dark:text-white">
      Hello world I'm Chris
    </h1>
  </header>

  <section
    class="py-8 mb-10 -mx-4 bg-white border-t border-b border-gray-200 dark:bg-dark dark:border-slate-700"
  >
    <div class="container md:mx-auto">
      <article
        class="mx-4 prose prose-lg md:prose-xl dark:prose-invert md:mx-auto"
      >
        <p>
          I'm Chris, a web developer, blogger and lover of a beatiful wife and
          dog.
        </p>
        <p>
          As a day job I work over at <a
            href="https://daily.dev/"
            target="_blank"
            rel="noopener noreferrer">daily.dev</a
          > as the Web Team Lead.
        </p>
        <p>
          But before even starting my working day, I dedicate an hour of every
          single day to write these bite sized tips to help <i>you</i> become a web
          developer.
        </p>

        <div class="grid grid-cols-1 gap-0 md:grid-cols-4 md:gap-6">
          <div class="col-span-1">
            <img
              src="/assets/about.jpg"
              class="shadow-lg rounded-xl"
              alt="About Chris Bongers | Daily Dev Tips"
            />
          </div>
          <div class="col-span-3">
            <p>
              I love to connect with people, so feel free to hit me up on <a
                href="https://daily.dev/"
                target="_blank"
                rel="noopener noreferrer">Twitter</a
              >, <a
                href="https://daily.dev/"
                target="_blank"
                rel="noopener noreferrer">LinkedIn</a
              >, or <a
                href="https://daily.dev/"
                target="_blank"
                rel="noopener noreferrer">GitHub</a
              >.
            </p>
            <p>
              And don't forget to subscribe to my <a href="/subscribe/"
                >newsletter</a
              >.
            </p>
          </div>
        </div>
      </article>
    </div>
  </section>

  <Tweets />
</BaseLayout>
