---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
import Subscribe from '../components/Subscribe.astro'
import Stats from '../components/Stats.astro'
import Article from '../components/Article.astro'
const response = await fetch(`${import.meta.env.VITE_SENDY_ENDPOINT}api/subscribers/active-subscriber-count.php`, {
  method: "POST",
  body: new URLSearchParams(`api_key=${import.meta.env.VITE_SENDY_API_KEY}&list_id=${import.meta.env.VITE_SENDY_LIST_ID}`)
});
const allSubscribers = await response.text();
---
<BaseLayout title="Homepage">
  <header class="prose my-6 mx-auto">
    <h1>Daily tips to go from junior to web developer</h1>
  </header>

<h2 class="uppercase text-sm text-gray-700 tracking-wider mb-2">Filter by tag</h2>
    <nav class="mb-4">
      <ul class="flex">
        <li><a href="/archive" class="block p-2 mr-2 mb-2 bg-purple-500 text-sm rounded-xl font-medium">All</a></li>
        <li><a href="/archive" class="block p-2 mr-2 mb-2 bg-purple-200 text-sm rounded-xl font-medium">#javascript</a></li>
        <li><a href="/archive" class="block p-2 mr-2 mb-2 bg-purple-200 text-sm rounded-xl font-medium">#javascript</a></li>
      </ul>
    </nav>
  
    <section class="bg-white -mx-4 border-t border-gray-200 mb-10">
    <Article />
     <Article />
      <Article />
  </section>

  <section class="text-center mb-10">
   <h4 class="text-2xl font-medium px-8 mb-6">{allSubscribers} devs subscribed and loving it so far!</h4>
   <div class="bg-white rounded-lg px-4">
    I'm loving it
    <!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">We&#39;ll be looking at creating static pages from this data for a blazing fast website. Let&#39;s get started!<br><br> author: <a href="https://twitter.com/DailyDevTips1?ref_src=twsrc%5Etfw">@DailyDevTips1</a> } <a href="https://twitter.com/hashtag/DEVCommunity?src=hash&amp;ref_src=twsrc%5Etfw">#DEVCommunity</a><a href="https://t.co/XH9PVGb3OO">https://t.co/XH9PVGb3OO</a></p>&mdash; The React Dev (@The_React_Dev) <a href="https://twitter.com/The_React_Dev/status/1454273101060050945?ref_src=twsrc%5Etfw">October 30, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
   </div>
  </section>
  
</BaseLayout>