---
import BaseLayout from '../layouts/BaseLayout.astro'
import Article from '../components/Article.astro'
import Tags from '../components/Tags.astro'
import Tweets  from '../components/Tweets.astro'

const response = await fetch(`${import.meta.env.PUBLIC_SENDY_ENDPOINT}api/subscribers/active-subscriber-count.php`, {
  method: "POST",
  body: new URLSearchParams(`api_key=${import.meta.env.PUBLIC_SENDY_API_KEY}&list_id=${import.meta.env.PUBLIC_SENDY_LIST_ID}`)
});
const allSubscribers = await response.text();
const allPosts = Astro.fetchContent('../pages/posts/*.md').filter(a => new Date(a.date) <= new Date()).sort((a, b) =>
    b.date.localeCompare(a.date)
  );
const allTags = [...new Set(allPosts.reduce((prev, post) => {
  prev = prev.concat(post.tags);
  return prev;
}, []))];
---
<BaseLayout title="Homepage">
<header class="container my-6 mx-auto">
    <h1 class="text-gray-900 dark:text-white font-extrabold	text-4xl	mb-8">
      All daily tips to go from junior to web developer
    </h1>
  </header>

    <Tags />

    <section class="border-b bg-white dark:bg-dark -mx-4  border-t border-gray-200 dark:border-slate-700 mb-10">
      <div class="container  md:mx-auto">
      <div class="mx-0 md:-mx-4 grid grid-cols-1 md:grid-cols-2 md:py-4">
      {allPosts.map(article => <Article article={article} />)}
      </div>
      </div>
  </section>

    <Tweets />

</BaseLayout>
