---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
import Subscribe from '../components/Subscribe.astro'
import Stats from '../components/Stats.astro'
---
<BaseLayout title="Homepage">
  <header class="prose mb-6 mx-auto">
    <h1>Daily tips to go from junior to web developer</h1>
    <p class="lead">Hey there 👋 I'm Chris Bongers a full-stack remote web developer with 15+ years of experience, and I'll help you become a web developer with bite-sized dev tips.</p>
  </header>
  <Subscribe />
  <Stats />
  
    <h2 class="uppercase text-sm text-gray-700 tracking-wider mb-2">My top 3 dev tips</h2>
    <section class="bg-white -mx-4 border-t border-gray-200 mb-10">
    <article class="px-4 py-4 flex justify-between border-b border-gray-200">
      <div>
      <a href="#">
      <h3 class="leading-6 text-xl font-medium mb-2">Using bootstrap in Next.js + free starter</h3>
      </a>
      <p class="text-gray-500 mb-2">Tutorial on creating your own hooks in React</p>
      <p class="text-sm text-gray-500">4 minutes</p>
      </div>
      <a href="#" class="flex-none ml-6">
        <img class="drop-shadow rounded-lg h-16 w-16 object-cover" alt="Title of this article" src="https://daily-dev-tips.com/images/30-10-2021.jpg" loading="lazy" />
        </a>
    </article>
    <article class="px-4 py-4 flex justify-between border-b border-gray-200">
      <div>
      <a href="#">
      <h3 class="leading-6 text-xl font-medium mb-2">Using bootstrap in Next.js + free starter</h3>
      </a>
      <p class="text-gray-500 mb-2">Tutorial on creating your own hooks in React</p>
      <p class="text-sm text-gray-500">4 minutes</p>
      </div>
      <a href="#" class="flex-none ml-6">
        <img width="64px" height="64px" class="drop-shadow rounded-lg h-16 w-16 object-cover" alt="Title of this article" src="https://daily-dev-tips.com/images/30-10-2021.jpg" loading="lazy" />
        </a>
    </article>
    <article class="px-4 py-4 flex justify-between border-b border-gray-200">
      <div>
      <a href="#">
      <h3 class="leading-6 text-xl font-medium mb-2">Using bootstrap in Next.js + free starter</h3>
      </a>
      <p class="text-gray-500 mb-2">Tutorial on creating your own hooks in React</p>
      <p class="text-sm text-gray-500">4 minutes</p>
      </div>
      <a href="#" class="flex-none ml-6">
        <img class="drop-shadow rounded-lg h-16 w-16 object-cover" alt="Title of this article" src="https://daily-dev-tips.com/images/30-10-2021.jpg" loading="lazy" />
        </a>
    </article>
    <div class="px-4 py-4 flex border-b border-gray-200">
      <a href="/articles" class="text-barbie-light font-medium">See all tips</a>
    </div>
  </section>

  <section class="text-center mb-10">
   <h4 class="text-2xl font-medium px-8 mb-6">3000 devs subscribed and loving it so far!</h4>
   <div class="bg-white rounded-lg px-4">
    I'm loving it
    <!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">We&#39;ll be looking at creating static pages from this data for a blazing fast website. Let&#39;s get started!<br><br> author: <a href="https://twitter.com/DailyDevTips1?ref_src=twsrc%5Etfw">@DailyDevTips1</a> } <a href="https://twitter.com/hashtag/DEVCommunity?src=hash&amp;ref_src=twsrc%5Etfw">#DEVCommunity</a><a href="https://t.co/XH9PVGb3OO">https://t.co/XH9PVGb3OO</a></p>&mdash; The React Dev (@The_React_Dev) <a href="https://twitter.com/The_React_Dev/status/1454273101060050945?ref_src=twsrc%5Etfw">October 30, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
   </div>
  </section>
  
</BaseLayout>