---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
import Subscribe from '../components/Subscribe.astro'
---
<BaseLayout title="Homepage">
  <header class="prose mb-6 mx-auto">
    <h1>Daily tips to go from junior to web developer</h1>
    <p class="lead">Hey there 👋 I'm Chris Bongers a full-stack remote web developer with 15+ years of experience, and I'll help you become a web developer with bite-sized dev tips.</p>
  </header>
  <Subscribe />
</BaseLayout>