---
import BaseLayout from '../layouts/BaseLayout.astro'
import Article from '../components/Article.astro'
import Subscribe from '../components/Subscribe.astro'
import Stats from '../components/Stats.astro'
import Tweets  from '../components/Tweets.astro'
import { getAllPosts } from '../lib/posts.js'
const allPosts = (await getAllPosts())
  .filter((a) => new Date(a.date) <= new Date());
const allTags = [...new Set(allPosts.reduce((prev, post) => {
  prev = prev.concat(post.tags);
  return prev;
}, []))];
---
<BaseLayout title="Join the Daily Dev Tips email list" description="Looking to get daily development tips in your inbox? Subscribe now" showSubscribe={false}>
  <header class="container mx-auto my-6">
    <h1 class="mb-8 text-4xl font-extrabold text-gray-900 dark:text-white">Looking to get into web development?</h1>
    <p class="text-xl leading-8 text-gray-600 dark:text-slate-400">Hey there 👋 I'm Chris Bongers a full-stack remote web developer with 15+ years of experience, and I'll help you become a web developer with bite-sized dev tips.</p>
  </header>
  <Subscribe />
  <Stats />

    <section class="py-8 mb-10 -mx-4 bg-white border-t border-b border-gray-200 dark:bg-dark dark:border-slate-700">
        <div class="container md:mx-auto">
      <article class="mx-4 prose prose-lg md:prose-xl dark:prose-invert md:mx-auto">
        <strong>Need some more convincing?</strong>

        <ul>
        <li>Learn by reading a daily 5/10 minute e-mail</li>
        <li>Different topics so you get a broad overview</li>
        <li>I'm also learning so you can learn from my mistakes</li>
        <li>Don't just take my word for it see what these amazing people say 👇</li>
        </ul>
      </div>
      </div>
  </section>
  <Tweets />
</BaseLayout>
