---
import BaseLayout from '../layouts/BaseLayout.astro'
import Article from '../components/Article.astro'
import Subscribe from '../components/Subscribe.astro'
import Stats from '../components/Stats.astro'
import Tweets  from '../components/Tweets.astro'

const response = await fetch(`${import.meta.env.PUBLIC_SENDY_ENDPOINT}api/subscribers/active-subscriber-count.php`, {
  method: "POST",
  body: new URLSearchParams(`api_key=${import.meta.env.PUBLIC_SENDY_API_KEY}&list_id=${import.meta.env.PUBLIC_SENDY_LIST_ID}`)
});
const allSubscribers = await response.text();
const allPosts = Astro.fetchContent('../pages/posts/*.md').filter(a => new Date(a.date) <= new Date());
const allTags = [...new Set(allPosts.reduce((prev, post) => {
  prev = prev.concat(post.tags);
  return prev;
}, []))];
---
<BaseLayout title="Join the Daily Dev Tips email list" description="Looking to get daily development tips in your inbox? Subscribe now" showSubscribe={false}>
  <header class="container my-6 mx-auto">
    <h1 class="text-gray-900 dark:text-white font-extrabold	text-4xl	mb-8">Looking to get into web development?</h1>
    <p class=" text-gray-600 dark:text-slate-400 text-xl leading-8	">Hey there 👋 I'm Chris Bongers <picture><img loading="lazy" width="24" height="24" class="w-6 h-6 rounded-full inline" src="https://daily-dev-tips.com/images/about.jpg" alt="Chris Bongers profile picture" /></picture> a full-stack remote web developer with 15+ years of experience, and I'll help you become a web developer with bite-sized dev tips.</p>
  </header>
  <Subscribe />
  <Stats />

    <section class="border-b bg-white dark:bg-dark -mx-4  border-t border-gray-200 dark:border-slate-700 mb-10 py-8">
        <div class="container  md:mx-auto">
      <article class="prose prose-lg md:prose-xl dark:prose-invert mx-4 md:mx-auto">
        <strong>Need some more convincing?</strong>

        <ul>
        <li>Learn by reading a daily 5/10 minute e-mail</li>
        <li>Different topics so you get a broad overview</li>
        <li>I'm also learning so you can learn from my mistakes</li>
        <li>Don't just take my word for it see what these amazing people say 👇</li>
        </ul>
      </div>
      </div>
  </section>
  <Tweets />
</BaseLayout>
