<div class='h-[7.25rem]'>
  <script
    async
    defer
    type='text/javascript'
    src='//cdn.carbonads.com/carbon.js?serve=CESDP5Q7&placement=daily-dev-tipscom'
    id='_carbonads_js'
  >

  </script>
</div>
