<article class="px-4 py-4 flex justify-between border-b border-gray-200">
      <div>
      <a href="#">
      <h3 class="leading-6 text-xl font-medium mb-2">Using bootstrap in Next.js + free starter</h3>
      </a>
      <p class="text-gray-500 mb-2">Tutorial on creating your own hooks in React</p>
      <p class="text-sm text-gray-500">4 minutes</p>
      </div>
      <a href="#" class="flex-none ml-6">
        <img class="drop-shadow rounded-lg h-16 w-16 object-cover" alt="Title of this article" src="https://daily-dev-tips.com/images/30-10-2021.jpg" loading="lazy" />
        </a>
    </article>