<ul class="flex my-4">
        <li><a href=""><img class="rounded-full w-7 h-7" src="https://pbs.twimg.com/profile_images/1427162143049273347/n7sip_36_normal.jpg" /></a></li>
        <li class="-ml-3"><a href=""><img class="rounded-full w-7 h-7 border border-white" src="https://pbs.twimg.com/profile_images/1427162143049273347/n7sip_36_normal.jpg" /></a></li>
        <li class="-ml-3"><a href=""><img class="rounded-full w-7 h-7 border border-white" src="https://pbs.twimg.com/profile_images/1427162143049273347/n7sip_36_normal.jpg" /></a></li>
        <li class="-ml-3"><a href=""><img class="rounded-full w-7 h-7 border border-white" src="https://pbs.twimg.com/profile_images/1427162143049273347/n7sip_36_normal.jpg" /></a></li>
        <li class="-ml-3"><a href=""><img class="rounded-full w-7 h-7 border border-white" src="https://pbs.twimg.com/profile_images/1427162143049273347/n7sip_36_normal.jpg" /></a></li>
        <li class="-ml-3"><a href=""><img class="rounded-full w-7 h-7 border border-white" src="https://pbs.twimg.com/profile_images/1427162143049273347/n7sip_36_normal.jpg" /></a></li>
        <li class="bg-white px-2 rounded-full font-medium text-gray-700 flex items-center">+ 2000 more devs liked or shared it</li>
    </ul>