---
import Quote from './Quote.astro';

const { showAll = false } = Astro.props;

const request = await fetch('https://ddt-v2.netlify.app/assets/quotes.json');
const response = await request.json();

const quotes = showAll ? response : response.sort(() => 0.5 - Math.random())
  .slice(0, 3);
---
<section class=`${showAll && 'flex-wrap gap-x-4 gap-y-16'} flex items-center overflow-y-hidden overflow-x-scroll mt-10 pt-2 container mx-auto`>
    {quotes.map(quote => <Quote quote={quote} showAll={showAll} />)}
</section>