---
import Article from './Article.astro';
const allPosts = Astro.fetchContent('../pages/posts/*.md');
const { relatedTo } = Astro.props;
---

<div class="container md:mx-auto">
  <div class="mx-0 md:-mx-4 grid grid-cols-1 md:grid-cols-2">
    <Article article={allPosts[0]} />
    <Article article={allPosts[1]} />
  </div>
</div>
