---
import { getSubscriberCount } from '../lib/subscribers';
const subscribers = await getSubscriberCount();
---

<div class='container mx-auto'>
  <p class='mb-2 text-2xl font-bold dark:text-white'>
    Join <strong>{subscribers} devs</strong> and subscribe to my newsletter
  </p>
  <form
    class='bg-white rounded-md'
    action='https://sendy.daily-dev-tips.com/subscribe'
    accept-charset='utf-8'
    method='post'
    target='_blank'
    novalidate=''
  >
    <input type='hidden' name='gdpr' id='gdpr' value='true' />
    <input type='hidden' name='list' value='obHUkljEuq2nsMWAKF1wUg' />
    <input type='hidden' name='subform' value='yes' />
    <div class='flex flex-row flex-wrap items-center justify-between'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        class='w-5 h-5 ml-2 text-gray-300'
        viewBox='0 0 20 20'
        fill='currentColor'
      >
        <path
          d='M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z'
        ></path>
        <path d='M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z'
        ></path>
      </svg>
      <input
        name='email'
        type='email'
        aria-label='email address'
        class='flex-1 p-2.5 appearance-none text-gray-700 text-sm focus:outline-none'
        placeholder='Your Email'
      />
      <button
        class='m-2 p-2.5 text-sm transition-colors bg-barbie hover:bg-pink-500 text-white rounded-md font-semibold'
        >Subscribe
      </button>
    </div>
  </form>
</div>
