---
const { tag, active } = Astro.props;
---
<li><a href=`/tags/${tag}/` class=`${active ? 'bg-purple-500 text-white' : 'bg-purple-200 hover:bg-purple-300 transition-colors'} block p-2 mr-2 mb-2  text-sm rounded-xl font-medium`>#{tag}</a></li>