---
import StaticTweet from './StaticTweet.astro';
import tweetData from '../lib/tweets.json';
const NUMBER_OF_TWEETS_TO_SHOW = 6;
const response = await fetch(
  `${
    import.meta.env.PUBLIC_SENDY_ENDPOINT
  }api/subscribers/active-subscriber-count.php`,
  {
    method: 'POST',
    body: new URLSearchParams(
      `api_key=${import.meta.env.PUBLIC_SENDY_API_KEY}&list_id=${
        import.meta.env.PUBLIC_SENDY_LIST_ID
      }`
    ),
  }
);
const allSubscribers = await response.text();
const { tweets } = tweetData;
const useTweets = tweets
  .sort(() => 0.5 - Math.random())
  .slice(0, NUMBER_OF_TWEETS_TO_SHOW);
const { background } = Astro.props;
---

<section class={`text-center mb-10 container mx-auto ${background}`}>
  <h3 class="text-2xl dark:text-white font-medium px-8 mb-6">
    {allSubscribers} devs subscribed and loving it so far!
  </h3>
  <div class="grid grid-col-1 md:grid-cols-3 gap-4 items-center">
    {useTweets.map((id) => <StaticTweet id={id} />)}
  </div>
</section>
