---
import StaticTweet from './StaticTweet.astro';
import tweetData from '../lib/tweets.json';
import { getSubscriberCount } from '../lib/subscribers';
const subscribers = await getSubscriberCount();
const NUMBER_OF_TWEETS_TO_SHOW = 6;
const { tweets } = tweetData;
const useTweets = tweets
  .sort(() => 0.5 - Math.random())
  .slice(0, NUMBER_OF_TWEETS_TO_SHOW);
const { background } = Astro.props;
---

<section class={`text-center mb-10 container mx-auto ${background}`}>
  <h3 class="px-8 mb-6 text-2xl font-medium dark:text-white">
    {subscribers} devs subscribed and loving it so far!
  </h3>
  <div class="grid items-center gap-4 grid-col-1 md:grid-cols-3">
    {useTweets.map((id) => <StaticTweet id={id} />)}
  </div>
</section>
