---
import { getWebmentionsForUrl } from '../lib/webmentions';

const NUMBER_OF_MENTIONS_TO_SHOW = 6;
const { url, offsetLabel = true } = Astro.props;
const webmentions = await getWebmentionsForUrl(url);
const extraWebmentions = webmentions.length - NUMBER_OF_MENTIONS_TO_SHOW;
const webmentionsToShow = webmentions.slice(0, NUMBER_OF_MENTIONS_TO_SHOW);
---

<ul class={`${offsetLabel && 'justify-center'} flex my-6 pl-3`}>
  {webmentionsToShow.map((webmention) => (
    <li class='-ml-3'>
      <img
        alt={`${webmention?.author?.name} profile picture`}
        class='border border-white rounded-full w-7 h-7'
        src={webmention?.author?.photo}
        loading='lazy'
        width="28"
        height="28"
      />
    </li>
  ))}
  <li
    class={`${
      offsetLabel && '-ml-3 text-sm font-medium'
    } bg-white px-2 rounded-full text-gray-700 flex items-center`}
    set:html={webmentions.length === 0
      ? `<a href="https://twitter.com/intent/tweet/?text=Chris%20wrote%20this%20amazing%20article&amp;url=${url}&amp;via=DailyDevTips1" target="_blank" rel="noopener noreferrer">Be the first to like this</a>`
      : `${
          extraWebmentions > 0 ? `+ ${extraWebmentions}` : webmentions.length
        } ${webmentions.length === 1 ? 'dev' : 'devs'} liked it`}
  >
  </li>
</ul>
